.pdp-mrp-verbiage-amt-wrapper {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.pdp-mrp-verbiage-amt .pdp-mrp {
  font-weight: 400;
}

.percent-off {
  color: #ee5f73;
}

.inc-taxes {
  font-size: 14px;
  font-weight: bold;
}
